<?xml version="1.0" encoding="UTF-8"?>

<jing>
    <!-- 项目初始化加载的类, 必须要实现JInit接口 -->
    <!-- 加载日志模块, 必填 -->
    <init>
        <!-- 加载顺序 -->
        <index>1</index>
        <!-- 类路径 -->
        <implements>org.jing.core.logger.Log4jInit</implements>
        <!-- 初始化参数 -->
        <parameters>
            <path>config?log4j.properties</path>
            <level>
                <!--<gore>ERROR</gore>
                <equals>SQL</equals>
                <ignore>SQL</ignore>-->
            </level>
            <rootFilter>org.jing.core.logger.log4j.Log4jFilter</rootFilter>
            <!--使用db包的话, 下面的注释应该取消掉, sql这个日志级别会打印到单独日志里面去, 方便观察-->
            <!--<extendFilter>
                <sql>org.jing.core.logger.log4j.impl.Log4jSqlFilter</sql>
            </extendFilter>-->
        </parameters>
    </init>
    <!-- 加载Service映射集, 没有用到Service就不用填. -->
    <init>
        <index>2</index>
        <implements>org.jing.core.service.ServiceInit</implements>
        <parameters>
            <path>config?service.xml</path>
        </parameters>
    </init>
    <!-- 加载多线程模块, 选填, -->
    <!-- 比如在程序初始化的时候启动的多种不同监听类如NettySocket/Socket/UDP/TCP等. 实现类必须实现JThread接口 -->
    <init>
        <!-- 加载顺序 -->
        <index>3</index>
        <!-- 类路径 -->
        <implements>org.jing.core.thread.MultiplyThreadInit</implements>
        <parameters>
            <path>config?thread.xml</path>
        </parameters>
    </init>
    <!-- 数据库模块, 以后要抽成init模式初始化, 目前暂时这样 -->
    <db>
        <path>config?mybatis-config.xml</path>
    </db>
</jing>
